# ============================
# Java / Maven / Spring Boot
# ============================
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ============================
# IDE / Editor
# ============================

### VS Code ###
.vscode/

# ============================
# OS / Misc
# ============================
.DS_Store
Thumbs.db

# ============================
# Environment
# ============================
.env
